<% include ../partials/header %>

<header class="jumbotron">
    <div class="container">
        <h1>Welcome To YelpCamp</h1>
        <p>View our hand-pick campgrounds from all over the world</p>
        <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new Campground</a>
        </p>
    </div>
</header>


<div class="row text-center" style="display:flex; flex-wrap: wrap;">
      <% campgrounds.forEach(function(campground){ %>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <img src="<%= campground.image %>" >
            <div class="caption">
                <h4><%= campground.name %>
                </h4>
            </div>
            <p>
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More info</a>
        </p>
        </div>
    </div>
<% }) %>  
    </div>

<script type="text/javascript" src="https://maps.google.com/map..."></script>

<script>
    $("#checkingAddress").click(checkGeocode);

function checkGeocode(){
var addr = document.getElementById("location");
// Get geocoder instance
var geocoder = new google.maps.Geocoder();

// Geocode the address
geocoder.geocode({'address': addr.value}, function(results, status){
if (status === google.maps.GeocoderStatus.OK && results.length > 0) {
alert('looks good')
// set it to the correct, formatted address if it's valid
addr.value = results[0].formatted_address;;

// show an error if it's not
}else alert("Invalid address");
});
};
</script>

<% include ../partials/footer %>